.App {
  text-align: center;
  background-image: url("");
  color: rgb(245, 243, 243);
}
.App li{
  list-style: none;
}
.small{
  text-align: center;
}
.container{
  background-image: url("https://wallpapers.com/images/featured/05bsl7m2e5bh01ki.jpg");
  background-size: cover;
  
}